.custom-button {
  width: 8.93vw;
  height: 3.57vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins';
  font-size: 1.04vw;
  font-weight: 700;
  background-color: #8ACD42;
  color: white;
  border-radius: 1.04vw;
  border: none;
  cursor: pointer;
  outline:none;

  &:hover {
      background-color: #A9D17D;
      border: none;
  }

  &.btn-add {
    width: 5.95vw;
    background-image: linear-gradient(to bottom, #FEBF7A , #FD9015);
    color: white;

    &:hover {
      background-image: linear-gradient(to bottom, #FEBF7A , #FEBF7A);
    }
  }

  /* ============ Media Query ============= */
  @media screen and (max-width: 1024px) {
    width: 9.53vw;
    height: 4.07vw;
    font-size: 1.44vw;
    font-weight: 600;

    &.btn-add {
      width: 6.55vw;
    }
  }
  @media screen and (max-width: 768px) {
    width: 10.53vw;
    height: 5.07vw;
    font-size: 1.84vw;
    font-weight: 600;

    &.btn-add {
      width: 7.55vw;
    }
  }
}
