.recipes-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #eaf2f9;
    width: 90%;
    min-height: 37.24vw;
    border-radius: 1.56vw;
    margin: 1.56vw auto 0 auto;
    padding: 1.3vw 1.3vw 4.17vw 1.3vw;
    position: relative;
    box-shadow: -10px -10px 20px 0px rgba(252,254,255,1), 10px 10px 20px 0px rgba(190,203,216,1);

    .recipe-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 23%;

        .last-image {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: center;
            border-radius: 50%;
            box-shadow: 0vw 0.26vw 1.3vw 0vw rgba(0, 0, 0, 0.5);
            width: 6.25vw;
            height: 6.25vw;
        }

        h4 {
            color: #3E4F70;
            font-size: 0.729vw;
            font-weight: 700;
            text-align: center;
        }
    }

    /* ============ Media Query ============= */
    @media screen and (max-width: 1024px) {
        padding: 3.3vw 1.3vw 4.17vw 1.3vw;

        .recipe-item {
            width: 33%;
            margin-bottom: 0.54vw;
    
            .last-image {
                width: 7.55vw;
                height: 7.55vw;
            }
    
            h4 {
                font-size: 1.129vw;
                line-height: 120%;
                font-weight: 700;
                text-align: center;
            }
        }
    }
    @media screen and (max-width: 768px) {
        padding: 3.3vw 1.3vw 4.17vw 1.3vw;

        .recipe-item {
            width: 50%;
            margin-bottom: 1.54vw;
    
            .last-image {
                width: 8.55vw;
                height: 8.55vw;
            }
    
            h4 {
                font-size: 1.529vw;
            }
        }
    }
}