.cont-help {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.9vw;
    height: 1.9vw;
    min-height: 1.9vw;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;

    /* ============ Media Query ============= */
    @media screen and (max-width: 1024px) {
        width: 2.9vw;
        height: 2.9vw;
        min-height: 2.9vw;
    }
}

.question {
    color: #1F2838;
}

.modal-support {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin: 1.04vw auto;
    padding: 1.04vw;
    background-color: #ffffff;
    color: #040B71;
    border-radius: 0.3vw;
    border: none;
}

.h1 {
    color: #040B71;
    font-size: 1.875vw !important;
    font-weight: 800;
    text-align: center;
    margin-top: 0.56vw;

    /* ============ Media Query ============= */
    @media screen and (max-width: 1024px) {
        font-size: 2.275vw !important;
    }
}

.p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.mdPhone, .mdEmail {
    width: 1.25vw;
    height: 1.25vw;
    margin-right: 0.89vw;
    color: rgba(4,11,113,0.8);

    /* ============ Media Query ============= */
    @media screen and (max-width: 1024px) {
        width: 1.85vw;
        height: 1.85vw;
    }
}