.profile-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    background: linear-gradient(to top, #eaf2f9 80%, transparent 80%), url("../../assets/bg-profile.jpg") center center no-repeat ;
    background-position: 50% 0%;
    background-size: 100%;
    width: 90%;
    min-height: 37.24vw;
    border-radius: 1.56vw;
    margin: 1.56vw auto 0 auto;
    padding: 4.17vw 1.3vw 0.26vw 1.3vw;
    position: relative;
    box-shadow: -10px -10px 20px 0px rgba(252,254,255,1), 10px 10px 20px 0px rgba(190,203,216,1);

    .imgWrapper {
        margin: 0 auto;
        width: 6.67vw;
        height: 6.67vw;
        border-radius: 50%;
        box-shadow: 0vw 0.26vw 1.3vw 0vw rgba(0, 0, 0, 0.5);
        overflow: hidden;

        img {
            width: 100%;
            max-width: 6.67vw;
            height: auto;
        }
    }

    .h2 {
        font-weight: 600;
        font-style: normal;
        font-size: 1.3vw;
        color: #3E4F70;
        line-height: 0%;
        margin: 1.04vw auto;
    }

    h3 {
        font-family: 'gill-sans-nova', sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 1.33vw;
        color: #3E4F70;
        line-height: 0%;
    }

    .cont-border {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        padding: 0.52vw 1.04vw;
        margin: 1.04vw 0;
        border-radius: 0.26vw;
        box-shadow: -5px -5px 10px 0px rgba(252,254,255,1), 5px 5px 10px 0px rgba(190,203,216,1);

        .details {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }
    
        .h4 {
            font-family: 'gill-sans-nova', sans-serif;
            font-weight: 500;
            font-style: normal;
            font-size: 1.04vw;
            color: #3E4F70;
            line-height: 0%;
            margin-right: 0.52vw;
        }
    
        .p {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-size: 0.83vw;
            font-weight: 400;
            color: #333333;
    
            .mdPlace {
                width: 1.08vw;
                height: 1.08vw;
                margin-right: 0.26vw;
                color: rgba(4,11,113,0.8);
            }
            
            .mdPhone {
                width: 1.08vw;
                height: 1.08vw;
                margin-right: 0.26vw;
                color: rgba(4,11,113,0.8);
            }
        }
    }

    /* ============ Media Query ============= */
    @media screen and (max-width: 1024px) {
        padding: 6.17vw 1.3vw 0.26vw 1.3vw;

        .imgWrapper {
            margin: 0 auto;
            width: 8.67vw;
            height: 8.67vw;
            border-radius: 50%;
            box-shadow: 0vw 0.26vw 1.3vw 0vw rgba(0, 0, 0, 0.5);
            overflow: hidden;
    
            img {
                width: 100%;
                max-width: 8.67vw;
                height: auto;
            }
        }

        .h2 {
            font-size: 1.7vw;
            margin: 2.04vw auto;
        }
    
        h3 {
            font-size: 1.73vw;
        }

        .cont-border {
        
            .h4 {
                font-size: 1.44vw;
            }
        
            .p {
                font-size: 1.23vw;
        
                .mdPlace {
                    width: 1.58vw;
                    height: 1.58vw;
                    margin-right: 0.56vw;
                }
                
                .mdPhone {
                    width: 1.58vw;
                    height: 1.58vw;
                    margin-right: 0.56vw;
                }
            }
        }
    
    }
    @media screen and (max-width: 768px) {
        padding: 8.17vw 1.3vw 0.26vw 1.3vw;

        .imgWrapper {
            width: 10.67vw;
            height: 10.67vw;
    
            img {
                max-width: 10.67vw;
            }
        }

        .h2 {
            font-size: 2.1vw;
            margin: 4.04vw auto;
        }
    
        h3 {
            font-size: 2.13vw;
        }

        .cont-border {
        
            .h4 {
                font-size: 1.84vw;
            }
        
            .p {
                font-size: 1.63vw;
        
                .mdPlace {
                    width: 2.08vw;
                    height: 2.08vw;
                }
                
                .mdPhone {
                    width: 2.08vw;
                    height: 2.08vw;
                }
            }
        }
    
    }
}