.last-recipes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #deeaf6;
    width: 90%;
    min-height: 23.44vw;
    border-radius: 1.56vw;
    margin: 0vw auto;
    padding: 1.3vw 1.3vw 4.17vw 1.3vw;
    position: relative;
    box-shadow: -10px -10px 20px 0px rgba(243,249,255,1), 10px 10px 20px 0px rgba(190,203,216,1);

    .recipe-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 23%;

        .last-image {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: center;
            border-radius: 50%;
            box-shadow: 0vw 0.26vw 1.3vw 0vw rgba(0, 0, 0, 0.5);
            width: 6.25vw;
            height: 6.25vw;
        }

        h4 {
            color: #3E4F70;
            font-size: 0.729vw;
            line-height: 120%;
            font-weight: 700;
            text-align: center;
        }
    }

    .link {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 8.33vw;
        max-height: 4.01vw;
        padding: 1.3vw;
    }
}