
.cont-profile {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;

    .nav-profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #ffffff;

        .profile {
            width: 2.5vw;
            height: 2.5vw;
            margin-left: 1.04vw;
            margin-right: 1.56vw;
            border-radius: 0.52vw;
            box-shadow: 0vw 0.78vw 0.78vw -0.52vw rgba(0,0,0,0.75);
        }

        p {
            font-size: 0.83vw;
            font-weight: 400;
        }
    }
}