h1 {
    font-family: 'gill-sans-nova', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 3.75em;
    color: #3E4F70;
}

.cont-add-ingred {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: -20px 0 0 0;
}

.cont-btn-submit {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.ingredients-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 4px;

    .ingredient-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #3E4F70;
        border-radius: 50px;
        height: 50px;
        margin-right: 16px;
        margin-bottom: 16px;
        padding: 0px 36px;
        
        .h6 {
            font-size: 1em;
            font-weight: 700;
            color: #ffffff;
        }
    }
}