.result-tile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to bottom, #6EACFF, #1865FA);
    border-radius: 1.04vw;
    width: 19%;
    height: 10.68vw;
    padding: 1.56vw;
    color: #ffffff;
    font-family: 'Poppins';
    font-size: 0.83vw;
    font-weight: 700;

    /* ============ Media Query ============= */
    @media screen and (max-width: 1024px) {
        width: 24%;
        margin-bottom: 1.04vw;
        height: 12.68vw;
        font-size: 1.03vw;
    }
}