.inst-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 255) 50%, rgba(255, 255, 255, 0.9) 60%, transparent 100%), url("../../assets/goal-bg.jpg") center center no-repeat ;
    background-position: 50% 100%;
    background-size: 100%;
    width: 90%;
    min-height: 37.24vw;
    border-radius: 1.56vw;
    margin: 1.56vw auto 0 auto;
    padding: 1.3vw 1.3vw 4.17vw 1.82vw;
    position: relative;

    h2 {
        font-family: 'gill-sans-nova', sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 2.08vw;
        color: #3E4F70;
        line-height: 0%;
    }

    .inst-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        margin-top: 2.6vw;
    }
}