.img-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

    .recipe-image {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        border-radius: 50%;
        box-shadow: 0vw 0.26vw 1.3vw 0vw rgba(0, 0, 0, 0.3);
        width: 15.63vw;
        height: 15.63vw;
        transform: translateY(-50%);
    }
}