.nutrition-analisys {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    h2 {
        font-family: 'gill-sans-nova', sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 2.08vw;
        line-height: 120%;
        color: #3E4F70;
    }

    .result-grid {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        min-height: 2.6vw;
        margin-bottom: 1.04vw;
    }

    .cont-btn-submit {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}

.icon {
    width: 2.08vw;
    height: 2.08vw;
}

h3 {
    font-family: 'pt-sans', sans-serif;
    font-size: 1.33vw;
    line-height: 120%;
    font-weight: 700;
}
