.sidenav {
    width: 7vw;
    height: 100vh;
    padding: 3.125vw 0.78vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.options {
    display: flex;
    flex-direction: column;
}

.option {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 0.75vw;
    font-weight: 500;
    color: #ffffff;
    border-radius: 1.04vw;
    width: 5.21vw;
    height: 5.21vw;
    padding: 1.04vw 0.625vw;
    margin-bottom: 0.52vw;
    transition: all ease .2s;

    .icon {
        width: 1.67vw;
        height: auto;
        margin-bottom: 0.52vw;
    }

    &:focus {
        background-color: #1a1b1e;
        color: #ffffff;
        box-shadow: -10px -10px 20px 0px #242529, 1px 1px 0px 0px #ffffff16, 10px 10px 20px 0px #030303;
    }

    &:hover {
        background-color: #ffffff;
        color: #1a1b1e;
    }
}



