$sub-color: #7D7D7D;
$main-color: black;

@mixin shrinkLabel {
  top: -0.83vw;
  font-size: 0.71vw;
  color: $main-color;
}

.group {
  position: relative;
  width: 85%;

  .form-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F2FAFC;
    color: $sub-color;
    font-size: 1.04vw;
    padding: 1.04vw 1.04vw 1.04vw 2.38vw;
    width: 100%;
    border: none;
    border-radius: 2.98vw;
    margin: 1.04vw 0;

    &:focus {
      outline: none;
    }
  }
}
