html {
  height: 100%;
}
body {
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 400;
  background-image: linear-gradient(to bottom, #6EACFF , #1865FA);
  background-repeat: no-repeat;
  height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100vh;
}

.left-side {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  height: 100vh;
  background-color: #ffffff;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  width: 92%;
}

.right-side {
  background-image: linear-gradient(to bottom left, #FFFFFF , #CCDBEC);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  width: 42%;
  padding: 15px;
}

.container-logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.logo {
  width: 150px;
  height: auto;
}
