.recipe-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #eaf2f9;
    width: 90%;
    min-height: 13.54vw;
    border-radius: 1.56vw;
    margin: 10.42vw auto 1.83vw auto;
    box-shadow: -10px -10px 20px 0px rgba(252,254,255,1), 10px 10px 20px 0px rgba(190,203,216,1);
    

    .recipe-info {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}