.upload-image-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #FEBF7A, #FD9015);
    border-radius: 1.04vw;
    width: 19%;
    height: 10.68vw;
    padding: 0.52vw;
    color: #ffffff;
    cursor: pointer;
    border: none;
    outline:none;

    h3 {
        font-family: 'pt-sans', sans-serif;
        font-size: 1.33vw;
        font-weight: 700;
    }

    &:hover {
        background-image: linear-gradient(to bottom, #FEBF7A, #FEBF7A);
    }

    /* ============ Media Query ============= */
    @media screen and (max-width: 1024px) {
        width: 24%;
        margin-bottom: 1.04vw;
        height: 12.68vw;
        font-size: 1.03vw;

        h3 {
            font-size: 1.73vw;
        }
    }
    @media screen and (max-width: 768px) {
        width: 48%;
        margin-bottom: 2.04vw;
        height: 25.68vw;
        font-size: 1.43vw;

        h3 {
            font-size: 2.13vw;
        }
    }
}
