.upload-image-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #FEBF7A, #FD9015);
    border-radius: 1.04vw;
    width: 19%;
    height: 10.68vw;
    padding: 0.52vw;
    color: #ffffff;
    cursor: pointer;
    border: none;
    outline:none;

    h3 {
        font-family: 'pt-sans', sans-serif;
        font-size: 1.33vw;
        font-weight: 700;
    }

    &:hover {
        background-image: linear-gradient(to bottom, #FEBF7A, #FEBF7A);
    }
}
